.header__social-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 34px;
}

@media screen and (max-width: 720px) {
    .header__social-links { 
   display: none;
 }
 }